In [186]:
import numpy as np
import pandas as pd
import ast
import pymongo
from pymongo import MongoClient
import json
import nltk
# nltk.download('wordnet')
# nltk.download('omw-1.4')
# nltk.download('stopwords')
# nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from bson import ObjectId
from sklearn.metrics.pairwise import cosine_similarity

# Database Connection

In [187]:
CONNECTION_STRING = "mongodb://prathamrasal:pratham@ac-tihbzys-shard-00-00.kjaebfo.mongodb.net:27017,ac-tihbzys-shard-00-01.kjaebfo.mongodb.net:27017,ac-tihbzys-shard-00-02.kjaebfo.mongodb.net:27017/?ssl=true&replicaSet=atlas-101g8j-shard-0&authSource=admin&retryWrites=true&w=majority"
client = MongoClient(CONNECTION_STRING)
db = client['sih_db']
resources = db['resources']
institutes =db['users']

In [188]:
resInfo=resources.find()
resInfo= list(resInfo)
resDF = pd.DataFrame(resInfo)
# title, description, cost , reputation point
resDF =resDF[['_id','name','price','category','instituteId','description']]
resDF.head(2)

,_id,name,price,category,instituteId,description
0,62fc950af838f3bf16cf1249,General Computing Lab,1500,physical,62fc946df838f3bf16cf1238,This is a general computing lab which can faci...
1,62fc96a74dd3603e3d6d218d,General Computing Lab,1500,research,62fc946df838f3bf16cf1238,This is a general computing lab which can faci...

In [189]:
insInfo=institutes.find()
insInfo= list(insInfo)
insDF = pd.DataFrame(insInfo)
street = []
state = []
city = []
pincode = []
for i in range(len(insDF)): 
    street.append(insDF.iloc[i].address['street'])
    city.append(insDF.iloc[i].address['city'])
    state.append(insDF.iloc[i].address['state'])
    pincode.append(insDF.iloc[i].address['pincode'])
insDF['street'] = street
insDF['city'] = city
insDF['state'] = state
insDF['pincode'] = pincode 
insDF = insDF[['_id','instituteName','aisheCode','naac','street','city','state','pincode']]
insDF.tail(5)

,_id,instituteName,aisheCode,naac,street,city,state,pincode
10,62fd25f770fc4b5fe14bc417,TAMIL UNIVERSITY,U-0484,B+,"Vagaiyur, Trichy Road,",Thanjavur,Tamil Nadu,613010
11,62fd266170fc4b5fe14bc422,MANONMANIAM SUNDARANAR UNIVERSITY,U-0464,A,"MANONMANIAM SUNDARANAR UNIVERSITY, ABISHEKAPA...",TIRUNELVELI,Tamil Nadu,627012
12,62fd3f3c70fc4b5fe14bc4b4,RABINDRANATH TAGORE UNIVERSITY,U-0656,B,"Bhopal-Chiklod Road, Near Bangrasia, Village-...",Raisen,Madhya Pradesh,464993
13,62fd3fb170fc4b5fe14bc4bf,PEOPLE&amp;#39;S UNIVERSITY,U-0655,B,"Peoples Campus, Bhanpur, Bhopal",Bhopal,Madhya Pradesh,462037
14,62fd431b70fc4b5fe14bc4e3,JAMIA MILLIA ISLAMIA,U-0108,A++,"Maulana Mohammad Ali Jauhar Marg, Jamia Nagar",New Delhi,Delhi,110025

# Data Selection

In [190]:
resDF = pd.merge(resDF,insDF,left_on="instituteId", right_on = "_id", how="inner")
resDF.tail(3)

,_id_x,name,price,category,instituteId,description,_id_y,instituteName,aisheCode,naac,street,city,state,pincode
38,62fd418b70fc4b5fe14bc4d6,Sports & Gymnasium,5000,physical,62fd3fb170fc4b5fe14bc4bf,In tune with the objective of all round develo...,62fd3fb170fc4b5fe14bc4bf,PEOPLE&amp;#39;S UNIVERSITY,U-0655,B,"Peoples Campus, Bhanpur, Bhopal",Bhopal,Madhya Pradesh,462037
39,62fd41fd70fc4b5fe14bc4dd,Seminar & Conference Hall,6000,physical,62fd3fb170fc4b5fe14bc4bf,Seminar Hall has the seating capacity of 150. ...,62fd3fb170fc4b5fe14bc4bf,PEOPLE&amp;#39;S UNIVERSITY,U-0655,B,"Peoples Campus, Bhanpur, Bhopal",Bhopal,Madhya Pradesh,462037
40,62fd48f370fc4b5fe14bc4f7,Central Instrumentation Facility,5000,research,62fd431b70fc4b5fe14bc4e3,The Central Instrument Facility (CIF) has been...,62fd431b70fc4b5fe14bc4e3,JAMIA MILLIA ISLAMIA,U-0108,A++,"Maulana Mohammad Ali Jauhar Marg, Jamia Nagar",New Delhi,Delhi,110025

In [191]:
resDF = resDF[['_id_x','name','category','description','price','city','street','state','pincode','naac']]
resDF.head(5)

,_id_x,name,category,description,price,city,street,state,pincode,naac
0,62fc950af838f3bf16cf1249,General Computing Lab,physical,This is a general computing lab which can faci...,1500,Chennai,"Kattankulathur, Kancheepuram District,",Tamil Nadu,603203,A++
1,62fc96a74dd3603e3d6d218d,General Computing Lab,research,This is a general computing lab which can faci...,1500,Chennai,"Kattankulathur, Kancheepuram District,",Tamil Nadu,603203,A++
2,62fdeb919ffa4bec54a0b792,Test Resource For Everything,research,Test Description,100,Chennai,"Kattankulathur, Kancheepuram District,",Tamil Nadu,603203,A++
3,62fd293225cf22988e49ed31,Laser Scanning Confocal Microscope,physical,Laser Scanning Confocal Microscope offers seve...,5000,TIRUCHIRAPALLI,"Bharathidasan University, Palkalaiperur",Tamil Nadu,620024,A+
4,62fd2c8c25cf22988e49ed37,Centre for Bio Inorganic Chemistry,research,The Centre had a range of sophisticated instru...,8000,TIRUCHIRAPALLI,"Bharathidasan University, Palkalaiperur",Tamil Nadu,620024,A+

# Data Cleaning

In [192]:
resDF.dropna(inplace=True)
resDF.isnull().sum()

_id_x          0
name           0
category       0
description    0
price          0
city           0
street         0
state          0
pincode        0
naac           0
dtype: int64

In [193]:
lematizer = WordNetLemmatizer()
def getCleanText(text):
    text = str(text)
    words = word_tokenize(text)
    wordd = []
    for w in words:
        word = lematizer.lemmatize(w)
        if not word in set(stopwords.words('english')):
            wordd.append(word)
    cleanText = ' '.join(wordd)
    return cleanText

def toLowerCase(text):
    text = str(text)
    return text.lower()

In [194]:
resDF['description'] = resDF['description'].apply(getCleanText)

# Data Processing

In [195]:
resDF['tags'] = ''
resDF.head(2)

,_id_x,name,category,description,price,city,street,state,pincode,naac,tags
0,62fc950af838f3bf16cf1249,General Computing Lab,physical,This general computing lab facilitate computat...,1500,Chennai,"Kattankulathur, Kancheepuram District,",Tamil Nadu,603203,A++,
1,62fc96a74dd3603e3d6d218d,General Computing Lab,research,This general computing lab facilitate computat...,1500,Chennai,"Kattankulathur, Kancheepuram District,",Tamil Nadu,603203,A++,

In [196]:
def generateTag():
    resDF['tags'] = resDF['name'] + " " + resDF['description']+ " "  + resDF['price']+ " "  + resDF['category']+ " " + resDF['city']+ " " +resDF['street']+ " " +resDF['state']+ " " +resDF['naac']
    resDF['tags'] = resDF['tags'].apply(lambda x: x.lower())
# resDF['tags'].head(2)
generateTag()

# Vectorization

In [197]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [198]:
def vectorize(narr):
    vector = cv.fit_transform(narr.astype('str')).toarray()
    similarity = cosine_similarity(vector)
    return similarity

In [199]:
def getInstitute(instituteId):
    instituteId = ObjectId(instituteId)
    institute = institutes.find_one({"_id": instituteId})
    institute = pd.DataFrame(institute)
    city = institute['address']['city']
    street = institute['address']['street']
    state = institute['address']['state']
    naac = institute['naac'][0]
    tags = city + street +state + naac
    myDict = {
         "title":" ",
         "description":" ", 
         "cost":" ", 
         "city": city,
         "street":street,
         "state":state,
         "naac": naac,
         "tags": tags.lower()
    }
    newDF = resDF.append(myDict,ignore_index = True)
    return newDF

In [200]:
# def dashboard(id):
#     newDF = getInstitute(id)
#     newarr = newDF['tags'].values
#     vector = vectorize(newarr)
#     recommended_list = sorted(list(enumerate(vector[-1])),reverse=True,key= lambda x:x[1])
#     recList = []
#     for i in recommended_list[1:]:
#         recList.append(resDF.iloc[i[0]].title)
#     return recList

In [201]:
def dashboard(instituteId):
#     resDF = recommendation_foundation()
    institute = institutes.find_one({"_id": ObjectId(instituteId)})
    city = institute['address']['city']
    street = institute['address']['street']
    state = institute['address']['state']
    pincode = institute['address']['pincode']
    naac = institute['naac']
    tags = city + street +state +pincode+ naac
    myDict = {
         "name":" ",
         "category":" ",
         "description":" ", 
         "price":" ", 
         "city": city,
         "street":street,
         "state":state,
         "pincode":pincode,
         "naac": naac,
         "tags": tags.lower()
    }
    print(myDict)
    newDF = resDF.append(myDict,ignore_index = True)
    newarr = newDF['tags'].values
    vector = vectorize(newarr)
    recommended_list = sorted(list(enumerate(vector[-1])),reverse=True,key= lambda x:x[1])
    recList = []
    for i in recommended_list[1:]:
        recList.append(resDF.iloc[i[0]]['_id_x'])
    return recList

In [221]:
def recommend_search(instituteId,name):
    #     resDF = recommendation_foundation()
    institute = institutes.find_one({"_id": ObjectId(instituteId)})
    city = institute['address']['city']
    street = institute['address']['street']
    state = institute['address']['state']
    pincode = institute['address']['pincode']
    naac = institute['naac']
    tags = name+ city + street +state +pincode+ naac
    myDict = {
         "name":name,
         "category":" ",
         "description":" ", 
         "price":" ", 
         "city": city,
         "street":street,
         "state":state,
         "pincode":pincode,
         "naac": naac,
         "tags": tags.lower()
    }
    newDF = resDF.append(myDict,ignore_index = True)
    newarr = newDF['tags'].values
    vector = vectorize(newarr)
    recommended_list = sorted(list(enumerate(vector[-1])),reverse=True,key= lambda x:x[1])
    recList = []
    for i in recommended_list[1:]:
        recList.append(resDF.iloc[i[0]]['state'])
    return recList

In [222]:
recommend_search('62fd3f3c70fc4b5fe14bc4b4',"Tubular Furnace")

C:\Users\prath\AppData\Local\Temp\ipykernel_15576\3314344352.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newDF = resDF.append(myDict,ignore_index = True)

['Tamil Nadu',
 'Madhya Pradesh',
 'Madhya Pradesh',
 'Madhya Pradesh',
 'Madhya Pradesh',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Tamil Nadu',
 'Delhi']

In [204]:
# dashboard('62fd3f3c70fc4b5fe14bc4b4')